<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventus - add new  event</title>
</head>
<body>
<div th:replace="fragments :: navBar"></div>
<form th:action="@{/events/add}" th:object="${newEventForm}" method="post">
    Title: <input type="text" th:field="*{eventTitle}" placeholder="Enter event title...">
    <span th:errors="*{eventTitle}"></span>
    <br>
    Start date:
    <br>
    End date:
    <br>
    Description: <textarea th:field="*{eventDescription}" rows="10" cols="100"></textarea>
    <span th:errors="*{eventDescription}"></span>
    <br>
    <input type="submit" value="Add new event">
</form>



</body>
</html>
