<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Eventus - ' + event.eventTitle}"> Eventus - single event</title>
    <th:block th:replace="fragments :: headScripts"></th:block>
</head>
<body>
<div th:replace="fragments :: navBar"></div>


<h1 style="text-align: center"><span th:text="${event.eventTitle}">Title</span></h1>
<div><p style="color: gray"><span th:text="${#temporals.format(event.startDate, 'yyyy-MM-dd HH:mm')}"></span> to <span th:text="${#temporals.format(event.endDate, 'yyyy-MM-dd HH:mm')}"></span>
</p>
</div>
<p style="font-size: 22px"><span th:text="${event.eventDescription}"></span></p>

<div th:if="${loggedAs != null}">
    <h3 style="text-align: center">Sign up for this event</h3>
    <span th:if="${!isSignedForEvent}">
    <form th:action="@{/events/{eventId}/sign-up-for-event(eventId=${event.id})}" method="post">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
        </span>

    <span th:if="${isSignedForEvent}">
    <form th:action="@{/events/{eventId}/sign-off-from-event(eventId=${event.id})}" method="post">
        <button type="submit" class="btn btn-primary">Sign of</button>
    </form>
        </span>
</div>
<br>
<br>

<div th:if="${loggedAs == null}">
    <br>
    <h5 style="color:gray">To register for this event you must be logged in</h5>
</div>

<div th:if="${loggedAs != null}">
<br>
    <h3 style="text-align: center">Add comment:</h3>
    <br>
    <form th:action="@{/events/{eventId}/comment/add}" th:object="${newCommentForm}" method="post">
        <div class="mb-3">
            <label for="commentatorNickname" th:field="*{commentatorNickname}" class="form-label">Nickname:</label>
            <input type="text" name="commentatorNickname" class="form-control" id="commentatorNickname" >
            <span th:errors="*{commentatorNickname}"></span>
        </div>
        <div class="mb-3">
            <label for="commentText" th:field="*{commentText}" class="form-label">Enter comment:</label>
            <input type="textarea"  name="commentText" class="form-control" id="commentText">
            <span th:errors="*{commentText}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
</div>
<br>
<br>
<h3 style="text-align: center">Comments:</h3>
<div th:each="eventComment : ${event.eventComments}">
    <div><span th:text="${eventComment.commentatorNickname}">Nick</span> (<span th:text="${#temporals.format(eventComment.commentAdded, 'yyyy-MM-dd HH:mm')}"></span>)</div>
    <div th:text="${eventComment.commentText}">Comment text...</div>
</div>
</body>
</html>
