<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventus</title>
    <th:block th:replace="navbar :: headScripts"></th:block>

</head>
<body>
<div th:replace="navbar :: navBar"></div>

<h1>Welcome to event service!</h1>

<h1>Ongoing and upcoming events:</h1>

<div th:each="event : ${events}">
    <h2><a th:href="@{/event/{eventId}(eventId=${event.id})}" th:text="${event.eventTitle}">Event title</a></h2>
    <div th:text="${#temporals.format(event.startDate, 'yyyy-MM-dd HH:mm')}"></div>
    <div th:text="${#temporals.format(event.endDate, 'yyyy-MM-dd HH:mm')}"></div>
    <p th:text="${#strings.abbreviate(event.eventDescription, 50)}"></p>
</div>
</body>
</html>
