<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventus - login page</title>
    <th:block th:replace="fragments :: headScripts"></th:block>
</head>
<body>
<div th:replace="fragments :: navBar"></div>

<form th:action="@{/login-submit-data}" method="post">
    <div class="mb-3">
        <label for="loginUserName" class="form-label">Email:</label>
        <input type="email" name="loginUserName" class="form-control" id="loginUserName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="hiddenPassword" class="form-label">Password:</label>
        <input type="password" name="hiddenPassword" class="form-control" id="hiddenPassword">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

<div th:if="${error != null}">
    <span th:text="${error}"></span>
</div>
</body>
</html>
