<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventus - register page</title>
    <th:block th:replace="fragments :: headScripts"></th:block>

</head>
<body>
<div th:replace="fragments :: navBar"></div>
<h1>Register page</h1>
<form th:action="@{/register}" th:object="${newUserForm}" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" th:field="*{email}" name="email" class="form-control" id="email" aria-describedby="emailHelp">
        <span th:errors="*{email}"></span>
    </div>
    <div class="mb-3">
        <label for="nickname" class="form-label">Nickname:</label>
        <input type="text" th:field="*{nickname}" name="nickname" class="form-control" id="nickname">
        <span th:errors="*{nickname}"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input type="password" th:field="*{password}" name="password" class="form-control" id="exampleInputPassword1">
        <span th:errors="*{password}"></span>
<!--                <div id="exampleInputPassword1" class="form-text">Password should be 8 to 30 characters long</div>-->
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

</body>
</html>
